---
http_interactions:
- request:
    method: get
    uri: https://api.openbrewerydb.org/breweries?by_dist=39,-104&quantity=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d0ec178e41dad8e4b0bdb73418a6a9d6"
    body:
      encoding: UTF-8
      string: '[{"id":10322,"obdb_id":"dueces-wild-brewery-colorado-springs","name":"Dueces
        Wild Brewery","brewery_type":"micro","street":"660 Peterson Rd","address_2":null,"address_3":null,"city":"Colorado
        Springs","state":"Colorado","county_province":null,"postal_code":"80915-4002","country":"United
        States","longitude":"-104.7034318","latitude":"38.8877651","phone":"6079729260","website_url":"http://www.dwbbrewery.com","updated_at":"2018-08-24T00:00:00.000Z","created_at":"2018-07-24T00:00:00.000Z"},{"id":13372,"obdb_id":"peaks-n-pines-brewing-company-colorado-springs","name":"Peaks
        N Pines Brewing Company","brewery_type":"micro","street":"4005 Tutt Blvd","address_2":null,"address_3":null,"city":"Colorado
        Springs","state":"Colorado","county_province":null,"postal_code":"80922-2508","country":"United
        States","longitude":"-104.7146045","latitude":"38.88965993","phone":"7193586758","website_url":"http://www.peaksnpinesbrewery.com","updated_at[...]
