---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=59a95904dccdd87e6f2eec32873b902c&exclude=minutely,alerts&lat=39&lon=104&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39,"lon":104,"timezone":"Asia/Shanghai","timezone_offset":28800,"current":{"dt":1628452932,"sunrise":1628460704,"sunset":1628510845,"temp":73.87,"feels_like":72.84,"pressure":1007,"humidity":40,"dew_point":48.06,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.8,"wind_deg":269,"wind_gust":4.09,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1628452800,"temp":73.87,"feels_like":72.84,"pressure":1007,"humidity":40,"dew_point":48.06,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.8,"wind_deg":269,"wind_gust":4.09,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1628456400,"temp":73.67,"feels_like":72.66,"pressure":1007,"humidity":41,"dew_point":48.54,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":2.46,"wind_deg":266,"wind_gust":2.73,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1628460000,"temp":73.49,"feels_like":72.41,"pressure":1007,"humidity":40,"dew_point":47.71,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.89,"wind_deg":212,"wind_gust":4.05,"weather":[{"id":800,"main":"Clea[...]
