---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=59a95904dccdd87e6f2eec32873b902c&exclude=minutely,hourly,alerts&lat=35&lon=127&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":35,"lon":127,"timezone":"Asia/Seoul","timezone_offset":32400,"current":{"dt":1628449632,"sunrise":1628455636,"sunset":1628504874,"temp":75.13,"feels_like":76.86,"pressure":1001,"humidity":96,"dew_point":73.9,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.65,"wind_deg":24,"wind_gust":3.58,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"daily":[{"dt":1628478000,"sunrise":1628455636,"sunset":1628504874,"moonrise":1628456520,"moonset":1628507700,"moon_phase":0.02,"temp":{"day":87.33,"min":72.19,"max":90.25,"night":72.19,"eve":83.64,"morn":73.24},"feels_like":{"day":91.72,"night":73.38,"eve":88.54,"morn":74.73},"pressure":1002,"humidity":55,"dew_point":68.68,"wind_speed":9.15,"wind_deg":326,"wind_gust":13,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"clouds":0,"pop":0.36,"rain":0.25,"uvi":10.02},{"dt":1628564400,"sunrise":1628542082,"sunset":1628591212,"moonrise":1628546820,"moonset":1628596080,"moon_phase":0.05,"temp":{"day":81.91,"min":69.35,"max":83.12,"night":71.37,"eve":79.16,"morn":69.35},"feels_like":{"day":86.49,"night":72.66,"eve":79.16,"morn":70.45},"pressure":1008,"humidity":71,"dew_point":71.31,"wind_speed":7.23,"wind_deg":132,"wind_gust":8.32,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"clouds":9,"pop":0.88,"rain[...]
