---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<openweather_key>&exclude=minutely,alerts&lat=39&lon=104&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39,"lon":104,"timezone":"Asia/Shanghai","timezone_offset":28800,"current":{"dt":1628543970,"sunrise":1628547159,"sunset":1628597174,"temp":73.81,"feels_like":72.07,"pressure":1006,"humidity":25,"dew_point":35.83,"uvi":0,"clouds":77,"visibility":10000,"wind_speed":10.49,"wind_deg":82,"wind_gust":18.59,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1628542800,"temp":73.81,"feels_like":72.07,"pressure":1006,"humidity":25,"dew_point":35.83,"uvi":0,"clouds":77,"visibility":10000,"wind_speed":10.49,"wind_deg":82,"wind_gust":18.59,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1628546400,"temp":73.74,"feels_like":72,"pressure":1006,"humidity":25,"dew_point":35.78,"uvi":0,"clouds":78,"visibility":10000,"wind_speed":8.43,"wind_deg":76,"wind_gust":14.34,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1628550000,"temp":73.92,"feels_like":72.19,"pressure":1006,"humidity":25,"dew_point":35.92,"uvi":0.19,"clouds":81,"visibility":10000,"wind_speed":8.16,"wind_deg":95,"wind_gust":13.91,"weather":[{"id":803,"main[...]
