---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<openweather_key>&exclude=minutely,alerts&lat=39&lon=-104&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39,"lon":-104,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1628651347,"sunrise":1628597111,"sunset":1628647053,"temp":72.21,"feels_like":70.88,"pressure":1012,"humidity":37,"dew_point":44.53,"uvi":0,"clouds":93,"visibility":10000,"wind_speed":6.42,"wind_deg":115,"wind_gust":6.73,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1628650800,"temp":72.21,"feels_like":70.88,"pressure":1012,"humidity":37,"dew_point":44.53,"uvi":0,"clouds":93,"visibility":10000,"wind_speed":6.42,"wind_deg":115,"wind_gust":6.73,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1628654400,"temp":71.71,"feels_like":70.36,"pressure":1012,"humidity":38,"dew_point":44.78,"uvi":0,"clouds":92,"visibility":10000,"wind_speed":7.16,"wind_deg":147,"wind_gust":10.31,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1628658000,"temp":70.02,"feels_like":68.68,"pressure":1013,"humidity":42,"dew_point":45.9,"uvi":0,"clouds":85,"visibility":10000,"wind_speed":2.95,"wind_deg":325,"wind_gust":2.71,"weather":[{"id":804,"ma[...]
