---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<openweather_key>&exclude=minutely,alerts&lat=39&lon=-104&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39,"lon":-104,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1628545118,"sunrise":1628510656,"sunset":1628560724,"temp":90.75,"feels_like":86.54,"pressure":1005,"humidity":11,"dew_point":29.43,"uvi":5.12,"clouds":7,"visibility":10000,"wind_speed":7.49,"wind_deg":232,"wind_gust":13.22,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1628542800,"temp":90.82,"feels_like":86.59,"pressure":1005,"humidity":11,"dew_point":29.46,"uvi":7.79,"clouds":6,"visibility":10000,"wind_speed":7.09,"wind_deg":237,"wind_gust":9.86,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1628546400,"temp":90.75,"feels_like":86.54,"pressure":1005,"humidity":11,"dew_point":29.43,"uvi":5.12,"clouds":7,"visibility":10000,"wind_speed":7.49,"wind_deg":232,"wind_gust":13.22,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1628550000,"temp":90.77,"feels_like":86.54,"pressure":1005,"humidity":11,"dew_point":29.43,"uvi":2.71,"clouds":7,"visibility":10000,"wind_speed":10.27,"wind_deg":218,"wind_gust":15.03,"weather":[{"id":800,"ma[...]
