---
http_interactions:
- request:
    method: get
    uri: https://api.openbrewerydb.org/breweries?by_dist=denver,%20co&quantity=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cfb86f86400762f69cc334d461c2ac1b"
    body:
      encoding: UTF-8
      string: '[{"id":8768,"obdb_id":"beer-me-brewery-eastbourne","name":"Beer Me
        Brewery","brewery_type":"brewpub","street":"Grand Parade","address_2":null,"address_3":null,"city":"Eastbourne","state":null,"county_province":"East
        Sussex","postal_code":"BN21 3YN","country":"England","longitude":"0.291598","latitude":"50.767006","phone":"1323729967","website_url":"https://beermebrewery.co.uk/","updated_at":"2020-12-30T00:00:00.000Z","created_at":"2020-12-30T00:00:00.000Z"},{"id":12290,"obdb_id":"long-man-brewery-polegate","name":"The
        Long Man Brewery","brewery_type":"micro","street":"Church Farm","address_2":null,"address_3":null,"city":"Polegate","state":null,"county_province":"East
        Sussex","postal_code":"BN26 5RA","country":"England","longitude":"0.160243","latitude":"50.799904","phone":"1323871850","website_url":"https://www.longmanbrewery.com/","updated_at":"2020-12-30T00:00:00.000Z","created_at":"2020-12-30T00:00:00[...]
