---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=a8k7m6XH0vJScGY82bDnXhVwsY1cU4TG&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 08 Aug 2021 19:07:11 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=a8k7m6XH0vJScGY82bDnXhVwsY1cU4TG&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-2097252721"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=a8k7m6XH0vJScGY82bDnXhVwsY1cU4TG&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=790945163"}]}]}'
  recorded_at: Sun, 08 Aug 2021 19:07:11 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=59a95904dccdd87e6f2eec32873b902c&exclude=minutely,hourly,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1628449632,"sunrise":1628424346,"sunset":1628474722,"temp":88.36,"feels_like":84.92,"pressure":1007,"humidity":21,"dew_point":43.5,"uvi":9.96,"clouds":0,"visibility":10000,"wind_speed":1.99,"wind_deg":154,"wind_gust":5.99,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"daily":[{"dt":1628449200,"sunrise":1628424346,"sunset":1628474722,"moonrise":1628423700,"moonset":1628476860,"moon_phase":0,"temp":{"day":88.36,"min":67.24,"max":92.32,"night":79.65,"eve":90.61,"morn":68.18},"feels_like":{"day":84.92,"night":79.65,"eve":86.43,"morn":66.16},"pressure":1007,"humidity":21,"dew_point":43.5,"wind_speed":9.73,"wind_deg":169,"wind_gust":18.05,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"clouds":0,"pop":0,"uvi":9.96},{"dt":1628535600,"sunrise":1628510803,"sunset":1628561050,"moonrise":1628514120,"moonset":1628565180,"moon_phase":0.04,"temp":{"day":95.67,"min":72.16,"max":96.6,"night":81.25,"eve":88.61,"morn":72.95},"feels_like":{"day":90.7,"night":79.41,"eve":84.76,"morn":71.02},"pressure":1005,"humidity":7,"dew_point":23.02,"wind_speed":15.52,"wind_deg":181,"wind_gust":17,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"clouds":6,"pop":0,"uvi":9.44},{"dt":1[...]
